@import 'sass-includes';

.meter {
  width: 20rem;
  height: 1.5rem;
  border: 0.1rem solid rgba($medium-grey, 0.5);
  background: transparent;
}

.meter__bar {
  display: block;
  height: 100%;
  background: rgba(black, 0.3);
}
