@import 'sass-includes';

.ouija {
  padding-right: 15rem;
  position: relative;
}

.gameboard {
  width: 60vw;
  height: 60vh;
  border: 0.1rem solid $medium-grey;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.square {
  width: 20%;
  height: 11.1111111%;
  display: block;
  border-right: 0.1rem solid rgba($medium-grey, 0.3);
  border-bottom: 0.1rem solid rgba($medium-grey, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: color 0.3s ease-in-out;
}

.piece {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.3rem solid $medium-grey;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(yellow, 0.4);
}

.controls {
  position: absolute;
  right: 0;
  top: 0;

  .btn {
    display: block;
  }
}

.results {
  position: absolute;
  top: 62vh;
  text-align: center;
  width: 100%;
  padding-right: 15rem;

  span {
    @include font-size(h4);
    position: relative;
    margin: 1rem;
    display: inline-block;
    width: 2.4rem;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0.2rem;
      background: $black;
      display: block;
    }
  }
}

