@import 'sass-includes';

.ouija {
  padding-right: 15rem;
  position: relative;
}

.gameboard {
  width: 86.5rem;
  height: 57.5rem;
  margin-bottom: 3rem;
  padding: 19rem 16rem 12rem;
  border: 0.1rem solid #1C1D13;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.piece {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .peephole {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.3rem solid rgba(#1C1D13, 0.5);
    display: block;
    background: rgba(#DD8403, 0.4);
  }
}

.controls {
  position: absolute;
  right: 0;
  top: 0;

  .btn {
    display: block;
  }
}

.results {
  position: absolute;
  top: 60rem;
  text-align: center;
  width: 100%;
  padding-right: 15rem;

  span {
    @include font-size(h4);
    position: relative;
    margin: 1rem;
    display: inline-block;
    width: 2.4rem;
    text-align: center;
    vertical-align: bottom;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0.2rem;
      background: $black;
      display: block;
    }
  }
}

#numbers {
  max-width: 70%;
  margin: 6rem auto 0;
}

